@import "./utils";

body {
  background: #18191a;
  color: #eee;
}

.active {
  border: 3px solid green;
}

@mixin slider-arrow {
  top: 50%;
  position: absolute;
}

.gallery {
  &__slider {
    position:relative;
    .slider-wrap {
      overflow: hidden;
      visibility: hidden;
      position: relative;
      .slider__slide {
        overflow: hidden;
        position: relative;
        & > div {
          float: left;
          width: 100%;
          position: relative;
        }
      }
    }
    .slider__arrow-left {
      @include slider-arrow;
      left: 0;
    }
    .slider__arrow-right {
      @include slider-arrow;
      right: 0;
    }
  }
  .gallery__thumbnails {
    width: 100%;
    display: flex;
    justify-content: center;
    & > div {
      width: 75%;
      display: flex;
      justify-content: space-evenly;
      & > div > img {
        height: 50px;
        width: 50px;
      }
    }
  }
}